body {
    font-family: "Open Sans";
    margin: auto;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#name {
    text-align: center;
}

#pose {
    width: 25%;
    height: 75%;
    border-radius: 50%;
}

th, td {
    padding: 8px;
}

.edu-table {
    border-spacing: 2px;
    border: 1px solid black;
}

.edu-table th, .edu-table td {
    border-spacing: 2px;
    border: 1px solid black;
}

.profile {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.description, .education, .contact {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}